# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
client/node_modules/
server/node_modules/
node_modules/

# Build output
/dist
/dist-ssr
/.vite
/.cache
/.parcel-cache
/.next
/out
/build

# Local env
.env
.env.*.local
*.local

# Coverage
/coverage
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
ehthumbs.db
Icon?

# Debug
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
.yarn/*
.pnp.*
.eslintcache
.turbo
.vercel
.netlify
firebase-debug.log
**/.DS_Store
